<table id="<%= datatable_id %>" class="table table-bordered dataTable">
  <thead>
  <tr>
    <% datatable_cols.each do |col| %>
        <th><%= col %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
